
.block-content--popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: visible;
  opacity: 1;
  transition: visibility 0.25s, opacity 0.5s ease-in-out; 
  overflow: auto;
  z-index: 9;
}

.block-content--popup.block-content--hidden {
  visibility: hidden;
  opacity: 0; 
}

.block-content--popup .content {
  position: relative;
  max-width: 90%;
  height: auto;
  padding: 1.25rem 1.5rem;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  box-sizing: border-box;
  overflow: auto;
  z-index: 2;
}

@media (min-width: 480px) {
  .block-content--popup .content {
    max-width: 75%;
     padding: 1.5rem 2rem;
  }
}

@media (min-width: 1200px) {
  .block-content--popup .content {
    max-width: 50%;
  }
}

.block-content--popup .content .field:not(.field--name-background-image):not(.field--name-bottom-text) {
  margin-bottom: 1rem;
}

.block-content--popup .content .field.field--name-bottom-text {
  margin-top: 1.25rem;
}

.block-content--popup .content .field h2,
.block-content--popup .content .field h3,
.block-content--popup .content .field h4,
.block-content--popup .content .field h5,
.block-content--popup .content .field h6 {
  margin: 0;
}

.block-content--popup .content .field h2 {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.block-content--popup .content .field h3 {
  font-size: 1.5rem;
  padding-bottom: .75rem;
}

.block-content--popup .content .field h4 {
  font-size: 1.125rem;
  padding-bottom: .5rem;
}

.block-content--popup .content .field h5 {
  font-size: .75rem;
  padding-bottom: .25rem;
}

.block-content--popup .content .field h6 {
  font-size: .5rem;
  padding-bottom: .125rem;
}

/* Style buttons for Bartik */
.block-content--popup .content .field--type-link {
  text-align: center;
}
.block-content--popup .content .field--type-link > button,
.block-content--popup .content .field--type-link > a {
  display: inline-block;
  min-width: 25%;
  padding: 1em 1.25em;
  border: 1px solid #121212;
  background-color: #fff;
  color: #121212;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  font-size: 1em;
  font-weight: normal;
  line-height: normal;
  text-align: center;
  text-decoration: none;
  transition: .25s ease-in-out;
  cursor: pointer;
}

.block-content--popup .content .field--type-link > button:hover,
.block-content--popup .content .field--type-link > a:hover,
.block-content--popup .content .field--type-link > button:active,
.block-content--popup .content .field--type-link > a:active,
.block-content--popup .content .field--type-link > button:focus,
.block-content--popup .content .field--type-link > a:focus {
  text-decoration: none;
  color: #fff;
  background: #121212;
}

.block-content--popup .content .field.field--name-ok-link > button.is-disabled,
.block-content--popup .content .field.field--name-ko-link > button.is-disabled,
.block-content--popup .content .field.field--name-ok-link > a.is-disabled,
.block-content--popup .content .field.field--name-ko-link > a.is-disabled,
.block-content--popup .content .field.field--name-ok-link > button.is-disabled:hover,
.block-content--popup .content .field.field--name-ko-link > button.is-disabled:hover,
.block-content--popup .content .field.field--name-ok-link > a.is-disabled:hover,
.block-content--popup .content .field.field--name-ko-link > a.is-disabled:hover,
.block-content--popup .content .field.field--name-ok-link > button.is-disabled:active,
.block-content--popup .content .field.field--name-ko-link > button.is-disabled:active,
.block-content--popup .content .field.field--name-ok-link > a.is-disabled:active,
.block-content--popup .content .field.field--name-ko-link > a.is-disabled:active,
.block-content--popup .content .field.field--name-ok-link > button.is-disabled:focus,
.block-content--popup .content .field.field--name-ko-link > button.is-disabled:focus,
.block-content--popup .content .field.field--name-ok-link > a.is-disabled:focus,
.block-content--popup .content .field.field--name-ko-link > a.is-disabled:focus {
  cursor: default;
  color: #717171;
  border-color: #bbb;
  background: #ededed;
}
